In [327]:
import numpy as np # для работы с массивами
import pandas as pd # для работы DataFrame 
import seaborn as sns # библиотека для визуализации статистических данных
import matplotlib.pyplot as plt # для построения графиков
from sklearn.preprocessing import PolynomialFeatures
from datetime import datetime, timedelta
%matplotlib inline

In [328]:
pd.set_option('display.max_rows', 50) # показывать больше строк
pd.set_option('display.max_columns', 50) # показывать больше колонок

df = pd.read_csv("main_task_new.csv", low_memory = False)
df.head()

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963

In [329]:
#df.info()
from collections import Counter
dff=df
dff
zz=dff['Cuisine Style'].str.replace('[[\]]','',regex=True)
zz.fillna('kuh1',inplace=True)


# x="'European', 'French', 'International'"
# x.split(',')
# ss=",".join(map(str.strip,x.split(',')))
# ss
dff['Cuisine Style']=zz.apply(lambda x: ",".join(map(str.strip,x.split(','))))
dff
ss=pd.Series(dff['Cuisine Style'].str.cat(sep=',').split(','))
# # dff['Cuisine Style']
ss
# qq=zz.str.cat(sep=',')
# cnt=Counter(qq.split(','))
cnt=Counter(ss)
print(len(cnt),cnt)
# Counter(qq.split(',')).most_common(232)
# dff['cntcnt']=zz.apply(lambda x: len(x.split(',')))
dff['cntcnt']=dff['Cuisine Style'].apply(lambda x: len(x.split(',')))
dff['cntcnt'].mean()

126 Counter({"'Vegetarian Friendly'": 11189, "'European'": 10060, 'kuh1': 9283, "'Mediterranean'": 6277, "'Italian'": 5964, "'Vegan Options'": 4486, "'Gluten Free Options'": 4113, "'Bar'": 3297, "'French'": 3190, "'Asian'": 3011, "'Pizza'": 2849, "'Spanish'": 2798, "'Pub'": 2449, "'Cafe'": 2325, "'Fast Food'": 1705, "'British'": 1595, "'International'": 1584, "'Seafood'": 1505, "'Japanese'": 1464, "'Central European'": 1393, "'American'": 1315, "'Sushi'": 1156, "'Chinese'": 1145, "'Portuguese'": 1107, "'Indian'": 1041, "'Middle Eastern'": 782, "'Thai'": 743, "'Wine Bar'": 697, "'German'": 662, "'Healthy'": 620, "'Greek'": 604, "'Halal'": 598, "'Czech'": 595, "'Fusion'": 577, "'Steakhouse'": 573, "'Barbecue'": 555, "'Contemporary'": 523, "'Vietnamese'": 513, "'Eastern European'": 496, "'Soups'": 494, "'Grill'": 490, "'Gastropub'": 471, "'Mexican'": 445, "'Turkish'": 444, "'Delicatessen'": 392, "'Austrian'": 380, "'South American'": 372, "'Polish'": 365, "'Hungarian'": 352, "'Scandinavian'": 342, "'Lebanese'": 329, "'Latin'": 302, "'Diner'": 295, "'Dutch'": 294, "'Irish'": 284, "'Belgian'": 270, "'Street Food'": 263, "'Brew Pub'": 225, "'Swiss'": 178, "'Danish'": 177, "'Swedish'": 171, "'Argentinean'": 169, "'Korean'": 167, "'Scottish'": 163, "'African'": 154, "'Moroccan'": 141, "'Central American'": 135, "'Brazilian'": 127, "'Pakistani'": 123, "'Peruvian'": 94, "'Caribbean'": 93, "'Nepali'": 83, "'Balti'": 83, "'Bangladeshi'": 76, "'Norwegian'": 75, "'Israeli'": 74, "'Slovenian'": 68, "'Indonesian'": 59, "'Russian'": 58, "'Persian'": 53, "'Arabic'": 51, "'Kosher'": 48, "'Ethiopian'": 42, "'Venezuelan'": 40, "'Malaysian'": 31, "'Croatian'": 27, "'Jamaican'": 25, "'Sri Lankan'": 25, "'Tibetan'": 24, "'Australian'": 24, "'Cuban'": 23, "'Taiwanese'": 22, "'Afghani'": 22, "'Hawaiian'": 21, "'Tunisian'": 21, "'Egyptian'": 20, "'Colombian'": 20, "'Cambodian'": 20, "'Cajun & Creole'": 20, "'Singaporean'": 19, "'Ukrainian'": 18, "'Southwestern'": 17, "'Georgian'": 17, "'Mongolian'": 14, "'Armenian'": 14, "'Central Asian'": 12, "'Filipino'": 12, "'Minority Chinese'": 11, "'Romanian'": 10, "'Chilean'": 8, "'Albanian'": 8, "'New Zealand'": 6, "'Uzbek'": 5, "'Canadian'": 5, "'Ecuadorean'": 4, "'Caucasian'": 4, "'Native American'": 4, "'Polynesian'": 2, "'Azerbaijani'": 2, "'Fujian'": 2, "'Welsh'": 2, "'Salvadoran'": 1, "'Yunnan'": 1, "'Xinjiang'": 1, "'Burmese'": 1, "'Latvian'": 1})

2.6224

In [189]:
ss=dff[:2][['Reviews']].iloc[1,0]
#print(ss)
intrp=ss
exec("bb=np.asarray({})".format(intrp))
def todtdt(x):
    return datetime.strptime(x, '%m/%d/%Y')
print(":::",bb[1],type(bb[1]),"   ",bb[1][0],type(bb[1][0]))
aa=np.fromiter(map(todtdt,bb[1]),dtype='datetime64[D]')
print(aa[0],type(aa[0]))
aa=np.asarray(list(map(todtdt,bb[1])))
print(aa[0],type(aa[0]))
# d = dict.fromkeys(ss[0],ss[1])
# d
# datetime_list=[]
# for qq in aa[1]:
#     dt = datetime.strptime(qq, '%m/%d/%Y')
#     datetime_list.append(dt)
    
# datetime_list

::: ['07/06/2017' '06/19/2016'] <class 'numpy.ndarray'>     07/06/2017 <class 'numpy.str_'>
2017-07-06 <class 'numpy.datetime64'>
2017-07-06 00:00:00 <class 'datetime.datetime'>

In [330]:
dff['Price Range'].unique()
dff=df
def todtdt(intrp1):
    bb=eval("np.asarray({})".format(intrp1.replace('nan','"01/01/1970"')))
    aa=np.fromiter(map(lambda x: datetime.strptime(x, '%m/%d/%Y'),bb[1]),dtype='datetime64[D]')
    if aa.shape[0]==0: aa=np.asarray([np.datetime64('1970-01-01')])
    aa.sort()
    #print("inf",aa,aa.shape[0])
    #print("aa:",aa,type(aa),aa[-1])
    #print("pd",pd.DataFrame([aa,aa],columns =['Rev0', 'Rev']).iloc[0])
    return pd.DataFrame(list(zip([aa[0]],[aa], [aa[-1]])),columns =['R1', 'R2','R3']).iloc[0]

dff[['RevF','Rev','RevL']]=dff['Reviews'].apply(todtdt)

#print("___",dff[['Rev0','Rev']],":::",type(dff[['Rev0','Rev']].iloc[0]))
# dff['Rev'].apply(lambda x: x.sort())
# dff['Rev0']=dff['Rev'].apply(lambda x: x[0])
#nda=dff['Rev0'].sort_values()
print(dff['RevF'].min())
print(dff[dff.RevF!=np.datetime64('1970-01-01')]['RevF'].min())
print(dff['RevL'].max())
#dff['Rev'][:2].values[:0]
#dff.info()
#dff

1970-01-01 00:00:00
2004-04-21 00:00:00
2018-02-26 00:00:00

In [331]:
print(dff[(dff.RevF<=np.datetime64('2004-04-21')) & (dff.RevF!=np.datetime64('1970-01-01'))].iloc[-1])
timedelta=dff['RevL'].max()-dff[dff.RevF!=np.datetime64('1970-01-01')]['RevF'].min()
print(timedelta,type(timedelta),np.timedelta64(timedelta, 'D'))

Restaurant_id                                                  id_3135
City                                                            Vienna
Cuisine Style                                              'Bar','Pub'
Ranking                                                           3137
Rating                                                               4
Price Range                                                          $
Number of Reviews                                                    2
Reviews              [['Great affordable restaurant'], ['04/21/2004']]
URL_TA               /Restaurant_Review-g190454-d694328-Reviews-Bab...
ID_TA                                                          d694328
cntcnt                                                               2
RevF                                               2004-04-21 00:00:00
Rev                                                       [2004-04-21]
RevL                                               2004-04-21 00:00:00
Name: 37913, dtype: object
5059 days 00:00:00 <class 'pandas._libs.tslibs.timedeltas.Timedelta'> 5059 days

In [340]:
# RevF=dff['RevF'].value_counts().reset_index()
# RevF.columns=['RevF','todrop']
# RevF=RevF.sort_values(by='RevF')
# print(RevF,type(RevF),RevF.index)

# RevL=dff['RevL'].value_counts().reset_index()
# RevL.columns=['RevL','todrop']
# RevL=RevL.sort_values(by='RevL')
# print(RevL,type(RevL),RevL.index)

RevDltmax=dff.apply(lambda x: np.timedelta64(x.RevL-x.RevF, 'D'),axis=1).max()
print(RevDltmax)

3207 days 00:00:00

In [325]:
dff['RevL'].value_counts()

1970-01-01    6471
2018-01-07     522
2018-01-03     457
2018-01-06     412
2018-01-08     392
              ...
2013-02-15       1
2012-05-31       1
2011-12-03       1
2013-02-05       1
2015-03-16       1
Name: RevL, Length: 1881, dtype: int64

In [66]:
df.columns
df['Price Range'].sort_values()
df['Price Range'].value_counts(dropna=False)

$$ - $$$    18412
NaN         13886
$            6279
$$$$         1423
Name: Price Range, dtype: int64

In [70]:
len(df['City'].unique())
df.columns
df['Cuisine Style'].str.

Index(['Restaurant_id', 'City', 'Cuisine Style', 'Ranking', 'Rating',
       'Price Range', 'Number of Reviews', 'Reviews', 'URL_TA', 'ID_TA'],
      dtype='object')

In [55]:
notnumcol=[]
yy = map(lambda v,z : [v,z], df.dtypes,df.columns)
for xx in yy:
    if xx[0].name!='float64':
        notnumcol.append(xx[1])
dfnum=df.drop(notnumcol,axis=1)
#dfnum.info()
values={}
for xx in (map(lambda x: [x,dfnum[x].mean()],dfnum.columns)):
    values[xx[0]]=xx[1]
print(values)
#print(dfnum['Ranking'].mode(dropna=True))
    
dfnum.fillna(value=values,inplace=True)
dfnum.info()

{'Ranking': 3676.028525, 'Rating': 3.9930375, 'Number of Reviews': 124.82547988359985}
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Ranking            40000 non-null  float64
 1   Rating             40000 non-null  float64
 2   Number of Reviews  40000 non-null  float64
dtypes: float64(3)
memory usage: 937.6 KB

In [24]:
for i in df.columns:
    
    print(i)
#print(df.dir())
#print(df.__dict__)

Restaurant_id
City
Cuisine Style
Ranking
Rating
Price Range
Number of Reviews
Reviews
URL_TA
ID_TA

In [27]:
x = [2, 3, 4, 5, 6]
xx = [21, 31, 41, 51, 61]
y = map(lambda v,z : [v,z], x,xx)
for i in y:
    print(i)

[2, 21]
[3, 31]
[4, 41]
[5, 51]
[6, 61]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB