In [1]:
import numpy as np # для работы с массивами
import pandas as pd # для работы DataFrame 
import seaborn as sns # библиотека для визуализации статистических данных
import matplotlib.pyplot as plt # для построения графиков
from sklearn.preprocessing import PolynomialFeatures
from datetime import datetime, timedelta
%matplotlib inline

In [2]:
pd.set_option('display.max_rows', 50) # показывать больше строк
pd.set_option('display.max_columns', 50) # показывать больше колонок

df = pd.read_csv("main_task_new.csv", low_memory = False)
df.head()

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963

In [3]:
#df.info()
from collections import Counter
dff=df
#убрать квадратные скобки из столбца
zz=dff['Cuisine Style'].str.replace('[[\]]','',regex=True)
#заполнить отсутствие кухонь одной условной кухней
zz.fillna('kuh1',inplace=True)
#убрать лишние пробелы в названиях кухонь
dff['Cuisine Style']=zz.apply(lambda x: ",".join(map(str.strip,x.split(','))))
#посчитать разнообразие кухонь и частоту употребления
ss=pd.Series(dff['Cuisine Style'].str.cat(sep=',').split(','))
cnt=Counter(ss)
print(len(cnt),cnt)
# dff['cntcnt']=dff['Cuisine Style'].apply(lambda x: len(x.split(',')))
# dff['cntcnt'].mean()

C:\Users\User\anaconda3\lib\site-packages\pandas\core\strings.py:710: FutureWarning: Possible nested set at position 1
  compiled = re.compile(pat, flags=flags)

126 Counter({"'Vegetarian Friendly'": 11189, "'European'": 10060, 'kuh1': 9283, "'Mediterranean'": 6277, "'Italian'": 5964, "'Vegan Options'": 4486, "'Gluten Free Options'": 4113, "'Bar'": 3297, "'French'": 3190, "'Asian'": 3011, "'Pizza'": 2849, "'Spanish'": 2798, "'Pub'": 2449, "'Cafe'": 2325, "'Fast Food'": 1705, "'British'": 1595, "'International'": 1584, "'Seafood'": 1505, "'Japanese'": 1464, "'Central European'": 1393, "'American'": 1315, "'Sushi'": 1156, "'Chinese'": 1145, "'Portuguese'": 1107, "'Indian'": 1041, "'Middle Eastern'": 782, "'Thai'": 743, "'Wine Bar'": 697, "'German'": 662, "'Healthy'": 620, "'Greek'": 604, "'Halal'": 598, "'Czech'": 595, "'Fusion'": 577, "'Steakhouse'": 573, "'Barbecue'": 555, "'Contemporary'": 523, "'Vietnamese'": 513, "'Eastern European'": 496, "'Soups'": 494, "'Grill'": 490, "'Gastropub'": 471, "'Mexican'": 445, "'Turkish'": 444, "'Delicatessen'": 392, "'Austrian'": 380, "'South American'": 372, "'Polish'": 365, "'Hungarian'": 352, "'Scandinavian'": 342, "'Lebanese'": 329, "'Latin'": 302, "'Diner'": 295, "'Dutch'": 294, "'Irish'": 284, "'Belgian'": 270, "'Street Food'": 263, "'Brew Pub'": 225, "'Swiss'": 178, "'Danish'": 177, "'Swedish'": 171, "'Argentinean'": 169, "'Korean'": 167, "'Scottish'": 163, "'African'": 154, "'Moroccan'": 141, "'Central American'": 135, "'Brazilian'": 127, "'Pakistani'": 123, "'Peruvian'": 94, "'Caribbean'": 93, "'Nepali'": 83, "'Balti'": 83, "'Bangladeshi'": 76, "'Norwegian'": 75, "'Israeli'": 74, "'Slovenian'": 68, "'Indonesian'": 59, "'Russian'": 58, "'Persian'": 53, "'Arabic'": 51, "'Kosher'": 48, "'Ethiopian'": 42, "'Venezuelan'": 40, "'Malaysian'": 31, "'Croatian'": 27, "'Jamaican'": 25, "'Sri Lankan'": 25, "'Tibetan'": 24, "'Australian'": 24, "'Cuban'": 23, "'Taiwanese'": 22, "'Afghani'": 22, "'Hawaiian'": 21, "'Tunisian'": 21, "'Egyptian'": 20, "'Colombian'": 20, "'Cambodian'": 20, "'Cajun & Creole'": 20, "'Singaporean'": 19, "'Ukrainian'": 18, "'Southwestern'": 17, "'Georgian'": 17, "'Mongolian'": 14, "'Armenian'": 14, "'Central Asian'": 12, "'Filipino'": 12, "'Minority Chinese'": 11, "'Romanian'": 10, "'Chilean'": 8, "'Albanian'": 8, "'New Zealand'": 6, "'Uzbek'": 5, "'Canadian'": 5, "'Ecuadorean'": 4, "'Caucasian'": 4, "'Native American'": 4, "'Polynesian'": 2, "'Azerbaijani'": 2, "'Fujian'": 2, "'Welsh'": 2, "'Salvadoran'": 1, "'Yunnan'": 1, "'Xinjiang'": 1, "'Burmese'": 1, "'Latvian'": 1})

2.6224

In [27]:
def calcpopular(x):
    sumcuspop=0
    cntcus=0
    for i in cnt.keys(): #сложить "популярность" кухонь, присутствующих в ресторане
        if i in x:
            sumcuspop+=cnt[i]
            cntcus+=1

    return pd.DataFrame(list(zip([sumcuspop],[cntcus])),columns =['R1', 'R2']).iloc[0]
#из предположения о популярности кухни  по количеству ее присутствия в ресторанах добавить свойство популярности Cuisinepopul
#а так же добавить свойство разнообразия Cuisinecnt - равное количеству разных кухонь
dff[['Cuisinepopul','Cuisinecnt']]=dff['Cuisine Style'].apply(calcpopular)

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,cntcnt,Cuisinepopul,Cuisinecnt
0,id_5569,Paris,"'European','French','International'",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,3,14834,3
1,id_1535,Stockholm,kuh1,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032,1,9283,1
2,id_352,London,"'Japanese','Sushi','Asian','Grill','Vegetarian...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781,7,25909,7
3,id_3456,Berlin,kuh1,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776,1,9283,1
4,id_615,Munich,"'German','Central European','Vegetarian Friendly'",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963,3,13244,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,id_499,Milan,"'Italian','Vegetarian Friendly','Vegan Options...",500.0,4.5,$$ - $$$,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,d2104414,4,25752,4
39996,id_6340,Paris,"'French','American','Bar','European','Vegetari...",6341.0,3.5,$$ - $$$,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,d1800036,5,29051,5
39997,id_1649,Stockholm,"'Japanese','Sushi'",1652.0,4.5,NaN,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615,2,2620,2
39998,id_640,Warsaw,"'Polish','European','Eastern European','Centra...",641.0,4.0,$$ - $$$,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,d1100838,5,23503,5
39999,id_4824,Milan,'Spanish',4827.0,3.0,$$ - $$$,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,d1109020,1,2798,1

In [189]:
#старая вариация обработки квадратных скобок

ss=dff[:2][['Reviews']].iloc[1,0]
#print(ss)
intrp=ss
exec("bb=np.asarray({})".format(intrp))
def todtdt(x):
    return datetime.strptime(x, '%m/%d/%Y')
print(":::",bb[1],type(bb[1]),"   ",bb[1][0],type(bb[1][0]))
aa=np.fromiter(map(todtdt,bb[1]),dtype='datetime64[D]')
print(aa[0],type(aa[0]))
aa=np.asarray(list(map(todtdt,bb[1])))
print(aa[0],type(aa[0]))

::: ['07/06/2017' '06/19/2016'] <class 'numpy.ndarray'>     07/06/2017 <class 'numpy.str_'>
2017-07-06 <class 'numpy.datetime64'>
2017-07-06 00:00:00 <class 'datetime.datetime'>

['GREAT', 'GOOD', 'FINE', 'NICE', 'DELICIOUS', 'HONEST', 'DECENT', 'NOT BAD', 'TASTY', 'QUICK', 'BEST', 'EXELLENT', 'WONDERFUL', 'TOP', 'BEAUTIFUL', 'HIGH QUALITY', 'LOVE', 'FRIENDL']

In [113]:
nicerev=list(map(str.upper,['Cosy','fair','Charming','Cool','Decent','pleasant','Perfect','tasty','highly recommended','Ideal','Amazing','Fantastic','Great','good','fine','nice','Delicious','honest','Decent','Not bad','tasty','Quick','best','exellent','Wonderful','Top','Beautiful','High quality','LOVE','Friendl']))
badrev=list(map(str.upper,['avoid','Incompetent','Poor','Overpriced','Terrible','not enjoy','disaster','doubt','bad','Unpleasant','TERRIBLE','Needy','No better']))
#print(nicerev)
#dff['Price Range'].unique()
dff=df
def todtdt(intrp1): #обработка вложенных списков посредством eval
    bb=eval("np.asarray({})".format(intrp1.replace('nan','"01/01/1970"')))
    #обработка отзывов
    revcolor=0
    def lookcolor(x):
        nonlocal revcolor
        for xx in nicerev:
            if xx in x.upper():revcolor+=1
        for xx in badrev:
            if xx in x.upper():revcolor-=1
        return revcolor 
                
    list(map(lookcolor,bb[0]))
    
    #обработка дат
    aa=np.fromiter(map(lambda x: datetime.strptime(x, '%m/%d/%Y'),bb[1]),dtype='datetime64[D]')
    #заменить отсутствующие данные на древнюю дату 1970г.
    if aa.shape[0]==0: aa=np.asarray([np.datetime64('1970-01-01')])
    aa.sort()
    return pd.DataFrame(list(zip([aa[0]], [aa[-1]],[revcolor])),columns =['R1', 'R2','R3']).iloc[0]

#добавить столбцы с датами двух последних отзывов и "цветом" отзывов
dff[['RevF','RevL','revcolor']]=dff['Reviews'].apply(todtdt)
# test=dff['Reviews'].sample(5).apply(todtdt)
# test

[]
['Unassuming and good' 'Delicious Pasta']
[]
['Lovely meal with family' 'Delicious food, fantastic price!']
[]

              R1         R2  R3
22338 1970-01-01 1970-01-01   0
30804 2017-11-15 2017-11-21   2
7651  1970-01-01 1970-01-01   0
29444 2017-06-25 2017-09-06   3
369   1970-01-01 1970-01-01   0

In [36]:
#старая вариация
#количество дней между двумя последними отзывами

dff['difffirstlastrev']=dff.apply(lambda x: np.timedelta64(x.RevL-x.RevF, 'D'),axis=1)

In [72]:
#найти даты самых древних и свежих отзывов
RevF=dff[dff.RevF!=np.datetime64('1970-01-01')]['RevF'].min()
RevL=dff['RevL'].max()

def RevFL(x):
    RevLcurent=x.RevL
    if x.RevF==np.datetime64('1970-01-01'):
        RevLcurent=x.RevF #сохранить для вычисления "свежести" последнего отзыва
        x.RevF=RevF
        x.RevL=RevL
    return  pd.DataFrame(list(zip([x.RevF],[x.RevL],[np.timedelta64(x.RevL-x.RevF, 'D')],[np.timedelta64(RevL-RevLcurent, 'D')]))).iloc[0]
#для изначально отсутствующих данных установить самый большой интервал между отзывами difffirstlastrev, что должно предположительно снижать рейтинг
#а так же вычислить свежесть отзыва difflast (для отсутствующих данных установить большую древность (от 1970 года), что тоже предположительно уменьшает рейтинг)
dff[['RevF','RevL','difffirstlastrev','difflast']]=dff.apply(RevFL,axis=1)

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,cntcnt,Cuisinepopul,Cuisinecnt,RevF,RevL,difffirstlastrev
11905,id_364,Dublin,"'Irish','Cafe'",365.0,4.5,$,92.0,"[['Second visit here more than worth it', 'Saf...",/Restaurant_Review-g186605-d7742875-Reviews-Th...,d7742875,2,2609,2,2017-11-16,2017-11-26,10 days
18067,id_491,Vienna,"'Seafood','Mediterranean','European','Croatian...",492.0,4.5,$$ - $$$,59.0,"[['Excellent food comes at a price', 'Excellen...",/Restaurant_Review-g190454-d1835025-Reviews-Re...,d1835025,5,19262,5,2017-09-30,2017-12-10,71 days
24686,id_2404,Brussels,kuh1,2405.0,3.5,NaN,7.0,"[['Super Restuarant at Parc Elisabeth!', 'Deli...",/Restaurant_Review-g950783-d8560015-Reviews-Th...,d8560015,1,9283,1,2015-12-14,2016-01-05,22 days
14346,id_8476,Paris,"'Japanese','Sushi'",8478.0,4.0,$$ - $$$,62.0,"[['disgusting', 'Excellent meal experience'], ...",/Restaurant_Review-g187147-d2002197-Reviews-Sa...,d2002197,2,2620,2,2016-06-17,2016-12-13,179 days
9792,id_6075,Madrid,"'Argentinean','South American'",6078.0,3.5,$,23.0,"[['Great empanadas!', 'Great estofado'], ['02/...",/Restaurant_Review-g187514-d4506159-Reviews-Go...,d4506159,2,541,2,2015-07-25,2016-02-25,215 days
39529,id_953,Milan,"'Italian','Seafood','Mediterranean','Vegetaria...",955.0,4.5,$$ - $$$,142.0,"[['Nice diner', 'Amazing Milanese restaurant']...",/Restaurant_Review-g187849-d9466346-Reviews-Ol...,d9466346,4,24935,4,2017-10-28,2017-11-11,14 days
12886,id_5572,Rome,kuh1,5574.0,4.0,NaN,15.0,"[[], []]",/Restaurant_Review-g187791-d7251971-Reviews-La...,d7251971,1,9283,1,2004-04-21,2018-02-26,5059 days
26211,id_1928,Rome,"'Italian','Bar','Pub','Brew Pub'",1929.0,4.5,$$ - $$$,157.0,"[['As expected', 'Burger is not so good'], ['0...",/Restaurant_Review-g187791-d6598387-Reviews-La...,d6598387,4,11935,4,2015-09-29,2016-01-07,100 days
3184,id_807,Milan,"'Mediterranean','Greek'",809.0,4.5,$,227.0,"[['Cozy place and nice staff', 'Very good'], [...",/Restaurant_Review-g187849-d2626593-Reviews-My...,d2626593,2,6881,2,2016-02-09,2016-09-25,229 days
39638,id_3676,Lisbon,kuh1,3681.0,1.5,NaN,2.0,"[[], []]",/Restaurant_Review-g189158-d5786898-Reviews-Re...,d5786898,1,9283,1,2004-04-21,2018-02-26,5059 days
18349,id_458,Stockholm,"'European','Wine Bar','Fusion'",459.0,4.5,$$ - $$$,56.0,[['Great wines lovely staff - highly recommen....,/Restaurant_Review-g189852-d6218105-Reviews-Ga...,d6218105,3,11334,3,2017-10-03,2018-01-05,94 days
19259,id_949,Madrid,"'French','Cafe','International','European','De...",950.0,4.5,$,63.0,"[['Great coffee and lovely service', 'Great br...",/Restaurant_Review-g187514-d10528891-Reviews-P...,d10528891,8,36024,8,2017-09-24,2017-11-22,59 days
37975,id_2519,Vienna,'Cafe',2521.0,4.5,$,3.0,"[['Out of this world cakes! Must try!'], ['06/...",/Restaurant_Review-g190454-d7679161-Reviews-Br...,d7679161,1,2325,1,2015-06-25,2015-06-25,0 days
20678,id_282,Hamburg,"'American','Vegetarian Friendly'",283.0,4.5,$$ - $$$,84.0,"[['Tasty burgers', 'Not recommended'], ['08/20...",/Restaurant_Review-g187331-d6838956-Reviews-Ot...,d6838956,2,12504,2,2016-03-04,2017-08-20,534 days
37014,id_6117,London,"'British','Grill','Steakhouse','Asian','Thai',...",6126.0,4.5,$$ - $$$,24.0,"[['Something different!', 'Lovely food'], ['12...",/Restaurant_Review-g186338-d11633814-Reviews-T...,d11633814,8,22685,8,2017-08-28,2017-12-12,106 days

In [331]:
print(dff[(dff.RevF<=np.datetime64('2004-04-21')) & (dff.RevF!=np.datetime64('1970-01-01'))].iloc[-1])
timedelta=dff['RevL'].max()-dff[dff.RevF!=np.datetime64('1970-01-01')]['RevF'].min()
print(timedelta,type(timedelta),np.timedelta64(timedelta, 'D'))

Restaurant_id                                                  id_3135
City                                                            Vienna
Cuisine Style                                              'Bar','Pub'
Ranking                                                           3137
Rating                                                               4
Price Range                                                          $
Number of Reviews                                                    2
Reviews              [['Great affordable restaurant'], ['04/21/2004']]
URL_TA               /Restaurant_Review-g190454-d694328-Reviews-Bab...
ID_TA                                                          d694328
cntcnt                                                               2
RevF                                               2004-04-21 00:00:00
Rev                                                       [2004-04-21]
RevL                                               2004-04-21 00:00:00
Name: 37913, dtype: object
5059 days 00:00:00 <class 'pandas._libs.tslibs.timedeltas.Timedelta'> 5059 days

In [340]:
# RevF=dff['RevF'].value_counts().reset_index()
# RevF.columns=['RevF','todrop']
# RevF=RevF.sort_values(by='RevF')
# print(RevF,type(RevF),RevF.index)

# RevL=dff['RevL'].value_counts().reset_index()
# RevL.columns=['RevL','todrop']
# RevL=RevL.sort_values(by='RevL')
# print(RevL,type(RevL),RevL.index)

RevDltmax=dff.apply(lambda x: np.timedelta64(x.RevL-x.RevF, 'D'),axis=1).max()
print(RevDltmax)

3207 days 00:00:00

In [325]:
dff['RevL'].value_counts()

1970-01-01    6471
2018-01-07     522
2018-01-03     457
2018-01-06     412
2018-01-08     392
              ...
2013-02-15       1
2012-05-31       1
2011-12-03       1
2013-02-05       1
2015-03-16       1
Name: RevL, Length: 1881, dtype: int64

In [66]:
df.columns
df['Price Range'].sort_values()
df['Price Range'].value_counts(dropna=False)

$$ - $$$    18412
NaN         13886
$            6279
$$$$         1423
Name: Price Range, dtype: int64

In [70]:
len(df['City'].unique())
df.columns
df['Cuisine Style'].str.

Index(['Restaurant_id', 'City', 'Cuisine Style', 'Ranking', 'Rating',
       'Price Range', 'Number of Reviews', 'Reviews', 'URL_TA', 'ID_TA'],
      dtype='object')

In [55]:
#удалить нечисловые колонки
notnumcol=[]
yy = map(lambda v,z : [v,z], df.dtypes,df.columns)
for xx in yy:
    if xx[0].name!='float64':
        notnumcol.append(xx[1])
notnumcol.remove('Restaurant_id') #не удалять столбец
dfnum=df.drop(notnumcol,axis=1)

{'Ranking': 3676.028525, 'Rating': 3.9930375, 'Number of Reviews': 124.82547988359985}
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Ranking            40000 non-null  float64
 1   Rating             40000 non-null  float64
 2   Number of Reviews  40000 non-null  float64
dtypes: float64(3)
memory usage: 937.6 KB

In [ ]:
#temp
#dfnum.info()
values={}
for xx in (map(lambda x: [x,dfnum[x].mean()],dfnum.columns)):
    values[xx[0]]=xx[1]
print(values)
#print(dfnum['Ranking'].mode(dropna=True))
    
dfnum.fillna(value=values,inplace=True)
dfnum.info()

In [24]:
for i in df.columns:
    
    print(i)
#print(df.dir())
#print(df.__dict__)

Restaurant_id
City
Cuisine Style
Ranking
Rating
Price Range
Number of Reviews
Reviews
URL_TA
ID_TA

In [27]:
x = [2, 3, 4, 5, 6]
xx = [21, 31, 41, 51, 61]
y = map(lambda v,z : [v,z], x,xx)
for i in y:
    print(i)

[2, 21]
[3, 31]
[4, 41]
[5, 51]
[6, 61]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB